.topnav {
    background-color: rgb(22, 23, 24);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    font-variant: normal;
    
}
.btn{
  background-color: #d41f55; 
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 14px;
  margin: 5px 3px;
}
