

<div class="topnav">
  <button type="button" class="btn" (click)="navigateToHome()">Home</button>
</div><br><br>
<div>
  <button type="button" class="btn" (click)="navigateToProducts()">Products</button>
</div>
<p style="background-image: url('img_girl.jpg');"></p>
  <router-outlet></router-outlet>